<!DOCTYPE html>
<html>
<head>
  <title>Create a New Location</title>
</head>
<body>
	<p>Current Locations:</p>
	<ul>
		<% @locations.each do |location| %>
			<li><%= campus['name'] %></li>
		<% end %>
	</ul>
  <form action="/new_location" method="POST">
    <input type="text" name="name" placeholder="Location Name">
    <button type="submit">Save</button>
  </form>
</body>
</html>