body {
	margin: auto;
	margin-top: 30px;
}

#octopus {
	display: block;
	margin: auto;
	position: relative;
	z-index: auto;
}

#glasses {
	position: absolute;
	z-index: 1;
	top: 130px;
	left: 45.5%;
}

#hat {
	position: absolute;
	z-index: 2;
	top: 70px;
	left: 45.5%;
}